/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:beige
}

li{
    list-style:none;
   }

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

}
.list-container-section {
    background-color: beige;
    display: flexbox;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    padding: 3rem;
    float: inline-start;
}

.navegacion{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav{
    display:flex;
    gap: 100px;
   
    
}
main {
    background-color: beige;
    height: 100%;
    padding: 1rem;
    gap: 10px; 
    text-decoration-line: underline;
    flex-direction: column-reverse; 
    container: ;


.list-container-main {
        background-color: beige;
        display: flexbox;
        align-items:center;
        justify-content:center;
        height: 100vh;
        padding: 3rem;
        
   
}
.list-container-il{
    background-color: cornsilk;
    color:blue
    padding 0.5rem;
    margin: 0.5rem
    
}

}
.list-section h1{
    background-color: none;
    color:rgb(230, 230, 235)
    padding 0.5rem;
    margin 0.5rem 
       
}

@media min-width: 768px; {
    main 
        flex-direction: row;
        section {
        max-width: 400px;
    }
}


.div{
    background-image: transparent;
    color:rgb(11, 11, 11)
}


footer{
    background-color:darkgreen;
    flex-direction: row;
    align-items: space-between;
    gap: 30px;
    height: 50;
    flex-wrap: nowrap;

}





   



    
    
 


