/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}

li{list-style:none;
    
}

header{
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 10px 30px;
    
}
.navegacion{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav{
    display:flex;
    gap:10px;
    
}
main{
    background-image: none;
    height:100vh;
    display: flex;
    align-items: center;
    padding: 20px,30px,30px,20px;
    justify-content: center;
    gap:10px;
}

.container{
    justify-content: flex-start | flex-end |
    center | space-around | space-evenly;
}




    
    
 


