/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: flex;
}


header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

}

body{
    background-color:beige
}

li{
    list-style:none;
    color:blue;
}

@media (min-width: 768px) {
    .navegacion{ 
        display: flex;
    }
}

.navegacion{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav{
    display:flex;
    gap: 100px;
   
    
}


.list-container-section {
    align-items:center;
    justify-content: center;
    height: 100vh;
    padding: 3rem;
    float: inline-start;
    background-image: transparent;
    color:rgb(249, 246, 246)
    padding 0.5rem;
    margin: 0.5rem; 
       
}


main h2 {
    display: flex;
    background-color: beige;
    justify-content: center;
    padding: 1rem;
    gap: 10px; 
    text-decoration: underline;
    
}
 
.list-container-main {
    display: flex;
    flex-shrink: 3;
    justify-content: center;
    align-items: baseline;
    padding 10 rem;
    margin: 10rem;
   
}
.box-1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer {
    background-color:darkgreen;
    justify-content: flex-end;
    align-items: space-between;
    gap: 30px;
    height: 50;
    display: flex;
   
}

.list.container.footer {
    background-color: darkgreen;

}





   



    
    
 


